<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/OnlineTicketBooking</property>
        <property name="connection.username">root</property>
        <property name="connection.password">ubuntu</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>      
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!-- Mapping files -->
        <mapping resource="User.hbm.xml"/>
        <mapping resource="Bus.hbm.xml"/>
        <mapping resource="City.hbm.xml"/>
        <mapping resource="Trip.hbm.xml"/>
        <mapping resource="Reservation.hbm.xml"/>
        <mapping resource="Route.hbm.xml"/>
        <mapping resource="Travels.hbm.xml"/>
        <mapping resource="TripRoute.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>
